:root {
  --main-bg-color: #b3f79b;
  --main-color: #2c2b2b;
  --next-color: rgb(190, 8, 8);
  --hover-efect-icons: #846ef7;
}

body {
  font-family: 'Muli', sans-serif, Courier, monospace;
  color: var(--main-color);
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #b3f79a;
  outline: 1px solid #0c0c0c;
}

.container {
  padding: 0 10% 0;
}

.section:after {
  background-color: var(--main-color);
  display: block;
  margin: 0 auto;
  content: '';
  height: 2px;
  width: 90%;
}

.header.active {
  opacity: 1;
  -webkit-box-shadow: 0 5px 10px rgba(37, 37, 37, 0.1);
  box-shadow: 0 5px 10px rgba(37, 37, 37, 0.1);
  border-bottom-color: transparent;
}

header.none {
  /* display: none; */
  opacity: 0;
}

.header {
  padding: 20px 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-bg-color);
  z-index: 1000;
  border-bottom: 1px solid #e3e3e3;
}

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.logo {
  margin-right: auto;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
}

/*-------MENU------*/

.menu {
  margin-right: 3%;
}

.menu__icon {
  display: none;
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #333333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.menu__icon span:nth-child(1) {
  top: 0px;
}

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
  top: 13px;
}

.menu__icon span:nth-child(4) {
  top: 26px;
}

.menu__links-item {
  position: relative;
  display: inline-block;
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__links-item:after {
  background-color: var(--main-color);
  display: block;
  content: '';
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.menu__links-item:hover:after,
.menu__links-item:focus:after {
  width: 100%;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
  transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.menu.menu_state_open .menu__links {
  display: block;
}

/*-------END MENU------*/

#hello {
  margin-top: 80px;
}

.hello {
  display: flex;
  flex-direction: row;
}

.about-me {
  width: 50%;
}

.about-me h2 {
  display: block;
  color: var(--main-color);
  text-align: center;
  font-size: 42px;
}

.about-me-text p {
  color: var(--main-color);
  font-size: 18px;
  line-height: 1.2;
  text-indent: 20px;
}

.social-title {
  display: block;
  text-align: left;
}

.about-me-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me .social-title {
  color: var(--main-color);
  text-transform: uppercase;
  margin-left: 3%;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

.social-context {
  font-size: 14px;
}

.social-context a {
  font-size: 14px;
  text-decoration: none;
  color: var(--main-color);
  font-weight: 600;
}

.social-context a:hover {
  color: var(--hover-efect-icons);
  -webkit-text-stroke: 0.2px #000000;
}

.social-links a {
  font-size: 20px;
  color: var(--main-bg-color);
  margin: 0 10px;
  text-decoration: none;
}

.social-links a:hover {
  color: var(--hover-efect-icons);
}

.about-me-photo {
  width: 50%;
}

.about-me-photo img {
  display: block;
  width: 420px;
  margin: 46px auto;
  border: 1px solid;
  border-color: var(--main-color);
}

/*-------------BUTTON DOUNLOAD CV-----------------*/

.site-btn {
  font-size: 18px;
  line-height: 1.66;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  background: var(--main-bg-color);
}

.site-btn.gray-btn {
  color: var(--main-color);
  display: block;
  width: 60px;
  font-size: 16px;
  margin: 15px auto;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

.site-btn {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-width: 170px;
  text-align: center;
  padding: 15px;
  border: none;
  border-radius: 2px;
}

.site-btn:hover {
  -webkit-box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.2);
  box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.2);
  color: var(--hover-efect-icons);
  border-color: var(--hover-efect-icons);
}

/*-------------SKILLS, EDUCATION, SERTIFITATES--------------*/

.skills,
.education,
.certificate {
  display: grid;
  grid-template-columns: 35% 65%;
  margin: 40px 0;
}

.skills-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
}

.collum-skills p {
  font-size: 16px;
  text-align: center;
  line-height: 1.2;
}

.collum-skills span {
  font-weight: bold;
  color: var(--main-bg-color);
}

.skills-title,
.education-title,
.sertifccate-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rows-education {
  align-items: center;
  display: flex;
  justify-content: center;
}

.rows-education p {
  margin-left: c15px;
}

.certificate-item img {
  display: block;
  width: 420px;
  margin: 46px auto;
  border: 1px solid var(--main-color);
}

/*-------------PORTFOLIO--------------*/

.works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.works-item {
  margin: 10px;
  overflow: hidden;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

.works-item:hover {
  -webkit-box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.2);
  box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.2);
  color: #252525;
}

.works img,
.works a {
  width: 100%;
}

.works-item img:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

/*-------------END PORTFOLIO--------------*/

.section:last-of-type:after {
  display: none;
}

/*-----------------CONTACT--------------------------*/
.contact {
  display: grid;
  grid-template-columns: 35% 65%;
  margin: 40px 0;
}

.contact-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-name {
  grid-area: name;
}

.form-email {
  grid-area: email;
}

.form-field-message {
  grid-area: field-message;
}

.submit-holder {
  grid-area: submit-holder;
}

.form-wrapper {
  display: grid;
  grid-template-columns: 45% 5% 45%;
  grid-template-areas:
    'name . field-message'
    'email . field-message'
    '. . submit-holder';
}

.form-wrapper textarea,
.form-wrapper input {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}

.form-name input,
.form-email input,
.form-field-message textarea {
  padding: 4px;
  font-style: italic;
}

.form-wrapper textarea {
  height: 130px;
  width: 100%;
  border: 1px solid #a9a9a9;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  resize: none;
  display: block;
  border-radius: 2px;
}

footer {
  background: var(--main-bg-color);
  padding: 15px 0 15px;
  margin-top: 40px;
}

.copyright {
  text-align: center;
}
