* {
  text-align: center;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  flex-direction: column;
  background: red;
}

.header.active {
  -webkit-box-shadow: 0 5px 10px rgba(37, 37, 37, 0.1);
  box-shadow: 0 5px 10px rgba(37, 37, 37, 0.1);
  border-bottom-color: transparent;
}

.header {
  padding: 20px 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  border-bottom: 1px solid #e3e3e3;
}

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.logo {
  margin-left: 5%;
  margin-right: auto;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  margin-right: 5%;
}

.menu__icon {
 display: none;
 width: 45px;
 height: 35px;
 position: relative;
 cursor: pointer;
}

.menu__icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #333333;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
top: 13px;
}

.menu__icon span:nth-child(4) {
top: 26px;
}

.menu__links-item {
  display: inline-block;
  color: #333333;
  font-family: Arial;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.menu__links-item:hover {
  text-decoration: underline;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
top: 18px;
width: 0%;
left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
top: 18px;
width: 0%;
left: 50%;
}

.menu.menu_state_open .menu__links {
display: block;  
}



/*-------------*/

.container {
  /* margin-right: auto;
  margin-left: auto; */
  /* padding-left: 15px;
  padding-right: 15px */

}

#hello {
  margin-top: 80px;
}

.section  {
  display: block;
  background: gold;
  border: 2px solid rgb(253, 93, 93);
}

footer {
  background: rebeccapurple;
  padding: 15px 0 15px;
}
